<form name="configfrm" action="" method="post" novalidate>
<div class=floatingbox>
	<div class=sectionlabel>Environments</div>
	<div class=sectionarea>
		<div class=fieldlabel>Servers</div>
		<div>
			<select 
				required
				name="server" 
				size="5" 
				style="width:180px;"
				ng-change="setConfig();"
				ng-model="config.currentEnvironment"
				ng-options="environment.name 
							for environment in config.environments 
							track by environment.url">
			</select>
		</div>
		<div class=fieldlabel>Name</div>
		<div>
			<input 
				required 
				name="servername" 
				type='text' 
				ng-model="servername" >
		</div>
		<div class=fieldlabel>URL</div>
		<div>
			<input 
				required 
				name="serverurl" 
				type='text' 
				ng-model="serverurl">
		</div>
		<div align=right style='margin: 5px;'>
			<input 
				type='button' 
				value=' Add/Edit ' 
				style='padding:5px;'
				ng-disabled="configfrm.servername.$error.required || 
							 configfrm.serverurl.$error.required"
				ng-click="setConfig('addserver');">
				
			<input 
				type='button' 
				value=' Remove ' 
				style='padding:5px;'
				ng-disabled="configfrm.server.$error.required" 
				ng-click="setConfig('removeserver');">
		</div>
	</div>
</div>

<div class=floatingbox>
	<div class=sectionlabel>Script output</div>
	<div class=sectionarea>
		<div class=fieldlabel>Directory</div>
		<div><input type='text' ng-model="config.outputDir"></div>
		<div align=right style='margin: 5px;'>
			<input 
				type='button' 
				value=' browse... ' 
				style='padding:5px;'
				ng-click="setOutputDir();">
		</div>
	</div>
</div>

<div style="padding: 20px; float:left; clear:both; font: normal normal 10px arial;">
	last updated: 
	{{config.lastUpdated}}
</div>
</form>