<form name="configfrm" action="" method="post" novalidate>
<div class=floatingbox>
	<div class=sectionlabel>Current User</div>
	<div class=sectionarea>
		<div class=fieldlabel align="right">
			User ID: {{config.user.id}}
		</div>
		<div class=fieldlabel>First name</div>
		<div style="padding-bottom: 5px;">
			<input required name="firstname" type="text" ng-model="config.user.firstName">
		</div>
		<div class=fieldlabel>Last name</div>
		<div style="padding-bottom: 5px;">
			<input required name="lastname" type="text" ng-model="config.user.lastName">
		</div>
	</div>
	
	<div class=sectionlabel>Environments</div>
	<div class=sectionarea>
		<div class=fieldlabel>Servers</div>
		<div>
			<select 
				required
				name="server" 
				size="5" 
				style="width:180px;"
				ng-change="setConfig();"
				ng-model="config.currentEnvironment"
				ng-options="environment.name 
							for environment in config.configEnvironments 
							track by environment.url">
			</select>
		</div>
		<div class=fieldlabel>Name</div>
		<div>
			<input 
				required 
				name="servername" 
				type='text' 
				ng-model="config.currentEnvironment.name" >
		</div>
		<div class=fieldlabel>URL</div>
		<div>
			<input 
				required 
				name="serverurl" 
				type='text' 
				ng-model="config.currentEnvironment.url">
		</div>
		
		<!-- Need to include remaining environment attributes so that config.currentEnvironment will be fully binded -->
		<input name="serverid" type='hidden' ng-model="config.currentEnvironment.id">
		<input name="servertrans" type='hidden' ng-model="config.currentEnvironment.transitory">
		<input name="servercurrent" type='hidden' ng-model="config.currentEnvironment.current">
		<input name="parentConfig" type='hidden' ng-model="config.currentEnvironment.parentConfig">
		
		<div align=right style='margin: 5px;'>
			<input 
				type='button' 
				value='Add' 
				style='padding:5px;'
				ng-disabled="configfrm.servername.$error.required || 
							 configfrm.serverurl.$error.required"
				ng-click="setConfig('add environment');">
				
			<input 
				type='button' 
				value='Edit' 
				style='padding:5px;'
				ng-disabled="configfrm.servername.$error.required || 
							 configfrm.serverurl.$error.required"
				ng-click="setConfig('edit environment');">
				
			<input 
				type='button' 
				value='Remove' 
				style='padding:5px;'
				ng-disabled="configfrm.server.$error.required" 
				ng-click="setConfig('remove environment');">
		</div>
	</div>	
</div>


<div class="floatingbox width400">
	<div class=sectionlabel>Head selection</div>
	<div class=sectionarea>
		<div class="fieldlabel"><input 
			name="browser" 
			type='radio'
			ng-model="config.headless"
			ng-value="false"
			ng-click="setConfig();">Use Browser</div>
		<div class="fieldlabel"><input 
			name="browser" 
			type='radio'
			ng-model="config.headless"
			ng-value="true"
			ng-click="setConfig();">Headless Mode</div>
	</div>
	<div class=sectionlabel>Module definitions</div>
	<div class=sectionarea>
		<div ng-repeat="m in config.configModules" style="padding-top:5px;">
			<input 
				type="checkbox" 
				ng-model="config.configModules[$index].checked"> 
			<input 
				type="text" 
				style="width:200px" 
				ng-model="m.label"> 
	    	<input 
	    		type="button" 
	    		value="add"
	    		ng-disabled="!m.label" 
	    		ng-click="insertNewModule($index);">		    
			<input 
				type="button" 
				value="remove" 
				ng-click="config.configModules.splice($index, 1);">
			<div 
				ng-repeat="t in m.configTabs" 
				style="padding-left:50px; padding-top: {{$index==0 ? '5px;' : '0px;'}}" 
				ng-show="config.configModules[$parent.$index].checked">
				<input 
					type="text" 
					style="width:200px" 
					ng-model="t.label"> 
	    		<input 
	    			type="button" value="add" 
	    			ng-disabled="!t.label" 
	    			ng-click="insertNewTab($parent.$index, $index);">		    
				<input 
					type="button" 
					value="remove" 
					ng-show="config.configModules[$parent.$index].configTabs.length > 1"
					ng-click="config.configModules[$parent.$index].configTabs.splice($index, 1);">
			</div>
		</div>
	</div>
	<div class=sectionarea align="right" style="border:none;">
		<input 
			type="button" 
			value=" SAVE " 
			class="bigbutton"
			ng-disabled="configfrm.firstname.$error.required || 
						 configfrm.lastname.$error.required" 
			ng-click="setConfig('save config');">
	</div>
</div>

<div class=floatingbox style="clear:both">
	<textarea cols="80" rows=20 ng-show="showJson()">{{getConfigJson()}}</textarea>
</div>
</form>